In [4]:
from pyspark.sql import SparkSession

#Create SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [ ]:
from etl.datareader import read_match_file

match_file_full_path = "/home/abhay/work/dream11/raw_historical_data/1153691.json"
df = spark.createDataFrame(read_match_file(match_file_full_path))
df.toPandas()

In [ ]:
import glob, os
raw_data_prefix = '/home/abhay/work/dream11/raw_historical_data'
os.chdir(raw_data_prefix)
match_file_list = []
for file in glob.glob("*.json"):
    full_match_file = raw_data_prefix + "/" + file
    match_file_list.append(full_match_file)

In [ ]:
from etl.datareader import read_match_file

for i in range(len(match_file_list[:10])):
    full_match_file = match_file_list[i]
    df = spark.createDataFrame(read_match_file(match_file_full_path))
    print("finished reading file %s, %i out of %i"%(full_match_file, i, 100))

In [1]:
from etl.datawriter import create_match_file_list, write_match_file
match_file_list = create_match_file_list(raw_data_prefix = '/home/abhay/work/dream11/raw_historical_data')

23/02/08 22:34:33 WARN Utils: Your hostname, Chaturvedi_PC resolves to a loopback address: 127.0.1.1; using 172.24.65.197 instead (on interface eth0)
23/02/08 22:34:33 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
23/02/08 22:34:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [8]:
df = spark.read.parquet('processed_output/delivery_parquet')

In [9]:
df.toPandas()

,innings_number,batter_name,batter_team,batter_id,bowler_name,bowler_team,bowler_id,batter_runs,extra_runs,total_runs,...,city,gender,total_overs,season,toss,team_1,team_2,year,month,dt
0,1,Shaheen Shah Afridi,Pakistan,45a7e761,Mehedi Hasan Miraz,Bangladesh,c58b0108,0,0,0,...,Chattogram,male,0,2021/22,Bangladesh,Bangladesh,Pakistan,2021,11,26
1,1,Shaheen Shah Afridi,Pakistan,45a7e761,Mehedi Hasan Miraz,Bangladesh,c58b0108,0,0,0,...,Chattogram,male,0,2021/22,Bangladesh,Bangladesh,Pakistan,2021,11,26
2,1,Shaheen Shah Afridi,Pakistan,45a7e761,Mehedi Hasan Miraz,Bangladesh,c58b0108,0,0,0,...,Chattogram,male,0,2021/22,Bangladesh,Bangladesh,Pakistan,2021,11,26
3,1,Shaheen Shah Afridi,Pakistan,45a7e761,Mehedi Hasan Miraz,Bangladesh,c58b0108,0,0,0,...,Chattogram,male,0,2021/22,Bangladesh,Bangladesh,Pakistan,2021,11,26
4,1,Faheem Ashraf,Pakistan,bd4ea627,Taijul Islam,Bangladesh,9d1d34bd,6,0,6,...,Chattogram,male,0,2021/22,Bangladesh,Bangladesh,Pakistan,2021,11,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9228,1,KJ McClure,Canterbury,4c895bc1,L Delport,Auckland,2c1438ef,1,0,1,...,Auckland,male,20,2020/21,Canterbury,Auckland,Canterbury,2021,1,3
9229,1,CJ Bowes,Canterbury,45df0e72,L Delport,Auckland,2c1438ef,1,0,1,...,Auckland,male,20,2020/21,Canterbury,Auckland,Canterbury,2021,1,3
9230,1,CJ Bowes,Canterbury,45df0e72,WER Somerville,Auckland,74a1c1e3,6,0,6,...,Auckland,male,20,2020/21,Canterbury,Auckland,Canterbury,2021,1,3
9231,1,CJ Bowes,Canterbury,45df0e72,WER Somerville,Auckland,74a1c1e3,1,0,1,...,Auckland,male,20,2020/21,Canterbury,Auckland,Canterbury,2021,1,3
9232,1,KJ McClure,Canterbury,4c895bc1,WER Somerville,Auckland,74a1c1e3,1,0,1,...,Auckland,male,20,2020/21,Canterbury,Auckland,Canterbury,2021,1,3