In [1]:
from etl.spark.spark_session_helper import spark

23/02/18 19:10:29 WARN Utils: Your hostname, Chaturvedi_PC resolves to a loopback address: 127.0.1.1; using 172.28.53.96 instead (on interface eth0)
23/02/18 19:10:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
23/02/18 19:10:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
from path_manager import intermediate_data_all_train_rows_path

/home/abhay/work/dream11

In [24]:
all_player_rows_df = spark.read.parquet(intermediate_data_all_train_rows_path)
all_player_rows_df.registerTempTable("all_player_rows")

In [19]:
spark.sql("""
    select distinct(venue_name) from all_player_rows where 
    dt>date_sub(current_timestamp(), 1000)
    and lower(venue_name) like '%george%'
""").limit(30).toPandas()

                                       venue_name
0                St George's Park, Port Elizabeth
1  National Cricket Stadium, St George's, Grenada
2                      St George's Park, Gqeberha

In [80]:
from string import Template
feature_query_template = Template("""
select 
    player_id, '$venue_name' as venue_name,
    
    sum(case when dt>date_sub(current_timestamp(), 1000) then batter_run_sum else 0 end) as batter_runs_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then batter_run_sum else 0 end) as batter_runs_1000D_venue,
    sum(case when dt>date_sub(current_timestamp(), 1000) then balls_faced else 0 end) as balls_faced_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then balls_faced else 0 end) as balls_faced_1000D_venue,
    sum(case when dt>date_sub(current_timestamp(), 1000) then dismissals else 0 end) as dismissals_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then dismissals else 0 end) as dismissals_1000D_venue,
    sum(case when dt>date_sub(current_timestamp(), 1000) then boundary_count else 0 end) as boundary_count_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then boundary_count else 0 end) as boundary_count_1000D_venue,
    sum(case when dt>date_sub(current_timestamp(), 1000) then six_count else 0 end) as six_count_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then six_count else 0 end) as six_count_1000D_venue,
    
    sum(case when dt>date_sub(current_timestamp(), 300) then batter_run_sum else 0 end) as batter_runs_300D,
    sum(case when dt>date_sub(current_timestamp(), 300) and venue_name='$venue_name' then batter_run_sum else 0 end) as batter_runs_300D_venue,
    sum(case when dt>date_sub(current_timestamp(), 300) then balls_faced else 0 end) as balls_faced_300D,
    sum(case when dt>date_sub(current_timestamp(), 300) then dismissals else 0 end) as dismissals_300D,
    sum(case when dt>date_sub(current_timestamp(), 300) then boundary_count else 0 end) as boundary_count_300D,
    sum(case when dt>date_sub(current_timestamp(), 300) then six_count else 0 end) as six_count_300D,
    
    sum(case when dt>date_sub(current_timestamp(), 90) then batter_run_sum else 0 end) as batter_runs_90D,
    sum(case when dt>date_sub(current_timestamp(), 90) and venue_name='$venue_name' then batter_run_sum else 0 end) as batter_runs_90D_venue,
    sum(case when dt>date_sub(current_timestamp(), 90) then balls_faced else 0 end) as balls_faced_90D,
    sum(case when dt>date_sub(current_timestamp(), 90) then dismissals else 0 end) as dismissals_90D,
    sum(case when dt>date_sub(current_timestamp(), 90) then boundary_count else 0 end) as boundary_count_90D,
    sum(case when dt>date_sub(current_timestamp(), 90) then six_count else 0 end) as six_count_90D,
    
    sum(case when dt>date_sub(current_timestamp(), 30) then batter_run_sum else 0 end) as batter_runs_30D,
    sum(case when dt>date_sub(current_timestamp(), 30) and venue_name='$venue_name' then batter_run_sum else 0 end) as batter_runs_30D_venue,
    sum(case when dt>date_sub(current_timestamp(), 30) then balls_faced else 0 end) as balls_faced_30D,
    sum(case when dt>date_sub(current_timestamp(), 30) then dismissals else 0 end) as dismissals_30D,
    sum(case when dt>date_sub(current_timestamp(), 30) then boundary_count else 0 end) as boundary_count_30D,
    sum(case when dt>date_sub(current_timestamp(), 30) then six_count else 0 end) as six_count_30D,
    
    sum(case when dt>date_sub(current_timestamp(), 1000) then total_run_sum else 0 end) as total_runs_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then total_run_sum else 0 end) as total_runs_1000D_venue,
    sum(case when dt>date_sub(current_timestamp(), 1000) then deliveries else 0 end) as deliveries_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then deliveries else 0 end) as deliveries_1000D_venue,
    sum(case when dt>date_sub(current_timestamp(), 1000) then wicket_sum else 0 end) as wicket_sum_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then wicket_sum else 0 end) as wicket_sum_1000D_venue,
    sum(case when dt>date_sub(current_timestamp(), 1000) then maiden_count else 0 end) as maiden_count_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then maiden_count else 0 end) as maiden_count_1000D_venue,
    
    sum(case when dt>date_sub(current_timestamp(), 300) then total_run_sum else 0 end) as total_runs_300D,    
    sum(case when dt>date_sub(current_timestamp(), 300) then deliveries else 0 end) as deliveries_300D,
    sum(case when dt>date_sub(current_timestamp(), 300) then wicket_sum else 0 end) as wicket_sum_300D,
    sum(case when dt>date_sub(current_timestamp(), 300) then maiden_count else 0 end) as maiden_count_300D,
    
    sum(case when dt>date_sub(current_timestamp(), 90) then total_run_sum else 0 end) as total_runs_90D,    
    sum(case when dt>date_sub(current_timestamp(), 90) then deliveries else 0 end) as deliveries_90D,
    sum(case when dt>date_sub(current_timestamp(), 90) then wicket_sum else 0 end) as wicket_sum_90D,
    sum(case when dt>date_sub(current_timestamp(), 90) then maiden_count else 0 end) as maiden_count_90D,
    
    sum(case when dt>date_sub(current_timestamp(), 30) then total_run_sum else 0 end) as total_runs_30D,    
    sum(case when dt>date_sub(current_timestamp(), 30) then deliveries else 0 end) as deliveries_30D,
    sum(case when dt>date_sub(current_timestamp(), 30) then wicket_sum else 0 end) as wicket_sum_30D,
    sum(case when dt>date_sub(current_timestamp(), 30) then maiden_count else 0 end) as maiden_count_30D,
    
    
    sum(case when dt>date_sub(current_timestamp(), 1000) then fielding_wicket_sum else 0 end) as fielding_wicket_sum_1000D,
    sum(case when dt>date_sub(current_timestamp(), 30) then fielding_wicket_sum else 0 end) as fielding_wicket_sum_30D
            
    from all_player_rows
    group by player_id
""")
feature_df = spark.sql(feature_query_template.substitute(venue_name="St George\\'s Park, Gqeberha"))

In [81]:
from pyspark.sql import functions as f
feature_df_with_bat_avg = feature_df\
        .withColumn("batting_avg_30D", f.when(f.col("dismissals_30D") > 0, f.col("batter_runs_30D")/f.col("dismissals_30D")).otherwise(f.col("batter_runs_30D"))) \
        .withColumn("batting_avg_90D", f.when(f.col("dismissals_90D") > 0, f.col("batter_runs_90D")/f.col("dismissals_90D")).otherwise(f.col("batter_runs_90D"))) \
        .withColumn("batting_avg_300D", f.when(f.col("dismissals_300D") > 0, f.col("batter_runs_300D")/f.col("dismissals_300D")).otherwise(f.col("batter_runs_300D"))) \
        .withColumn("batting_avg_1000D", f.when(f.col("dismissals_1000D") > 0, f.col("batter_runs_1000D")/f.col("dismissals_1000D")).otherwise(f.col("batter_runs_1000D"))) \
        .withColumn("batting_avg_1000D_venue", f.when(f.col("dismissals_1000D_venue") > 0, f.col("batter_runs_1000D_venue")/f.col("dismissals_1000D_venue")).otherwise(f.col("batter_runs_1000D_venue")))

feature_df_with_bat_avg_sr = feature_df_with_bat_avg\
    .withColumn("batting_sr_30D", f.when(f.col("balls_faced_30D") > 0, f.col("batter_runs_30D")/f.col("balls_faced_30D")).otherwise(f.col("batter_runs_30D"))) \
    .withColumn("batting_sr_90D", f.when(f.col("balls_faced_90D") > 0, f.col("batter_runs_90D")/f.col("balls_faced_90D")).otherwise(f.col("batter_runs_90D"))) \
    .withColumn("batting_sr_300D", f.when(f.col("balls_faced_300D") > 0, f.col("batter_runs_300D")/f.col("balls_faced_300D")).otherwise(f.col("batter_runs_300D"))) \
    .withColumn("batting_sr_1000D", f.when(f.col("balls_faced_1000D") > 0, f.col("batter_runs_1000D")/f.col("balls_faced_1000D")).otherwise(f.col("batter_runs_1000D"))) \
    .withColumn("batting_sr_1000D_venue", f.when(f.col("balls_faced_1000D_venue") > 0, f.col("batter_runs_1000D_venue")/f.col("balls_faced_1000D_venue")).otherwise(f.col("batter_runs_1000D_venue")))

feature_df_with_bat_avg_sr_bowl_avg = feature_df_with_bat_avg_sr\
        .withColumn("bowling_avg_30D", f.when(f.col("wicket_sum_30D") > 0, f.col("total_runs_30D")/f.col("wicket_sum_30D")).otherwise(f.col("total_runs_30D"))) \
        .withColumn("bowling_avg_90D", f.when(f.col("wicket_sum_90D") > 0, f.col("total_runs_90D")/f.col("wicket_sum_90D")).otherwise(f.col("total_runs_90D"))) \
        .withColumn("bowling_avg_300D", f.when(f.col("wicket_sum_300D") > 0, f.col("total_runs_300D")/f.col("wicket_sum_300D")).otherwise(f.col("total_runs_300D"))) \
        .withColumn("bowling_avg_1000D", f.when(f.col("wicket_sum_1000D") > 0, f.col("total_runs_1000D")/f.col("wicket_sum_1000D")).otherwise(f.col("total_runs_1000D"))) \
        .withColumn("bowling_avg_1000D_venue", f.when(f.col("wicket_sum_1000D_venue") > 0, f.col("total_runs_1000D_venue")/f.col("wicket_sum_1000D_venue")).otherwise(f.col("total_runs_1000D_venue")))

feature_df_with_bat_avg_sr_bowl_avg_sr = feature_df_with_bat_avg_sr_bowl_avg\
    .withColumn("bowling_sr_30D", f.when(f.col("wicket_sum_30D") > 0, f.col("deliveries_30D")/f.col("wicket_sum_30D")).otherwise(f.col("deliveries_30D"))) \
    .withColumn("bowling_sr_90D", f.when(f.col("wicket_sum_90D") > 0, f.col("deliveries_90D")/f.col("wicket_sum_90D")).otherwise(f.col("deliveries_90D"))) \
    .withColumn("bowling_sr_300D", f.when(f.col("wicket_sum_300D") > 0, f.col("deliveries_300D")/f.col("wicket_sum_300D")).otherwise(f.col("deliveries_300D"))) \
    .withColumn("bowling_sr_1000D", f.when(f.col("wicket_sum_1000D") > 0, f.col("deliveries_1000D")/f.col("wicket_sum_1000D")).otherwise(f.col("deliveries_1000D"))) \
    .withColumn("bowling_sr_1000D_venue", f.when(f.col("wicket_sum_1000D_venue") > 0, f.col("deliveries_1000D_venue")/f.col("wicket_sum_1000D_venue")).otherwise(f.col("deliveries_1000D_venue")))

all_features_df = feature_df_with_bat_avg_sr_bowl_avg_sr\
    .withColumn("bowling_eco_30D", f.when(f.col("deliveries_30D") > 0, f.col("total_runs_30D") * 6.0/f.col("deliveries_30D")).otherwise(f.col("total_runs_30D") * 6.0)) \
    .withColumn("bowling_eco_90D", f.when(f.col("deliveries_90D") > 0, f.col("total_runs_90D") * 6.0/f.col("deliveries_90D")).otherwise(f.col("total_runs_90D") * 6.0)) \
    .withColumn("bowling_eco_300D", f.when(f.col("deliveries_300D") > 0, f.col("total_runs_300D") * 6.0/f.col("deliveries_300D")).otherwise(f.col("total_runs_300D") * 6.0)) \
    .withColumn("bowling_eco_1000D", f.when(f.col("deliveries_1000D") > 0, f.col("total_runs_1000D") * 6.0/f.col("deliveries_1000D")).otherwise(f.col("total_runs_1000D") * 6.0)) \
    .withColumn("bowling_eco_1000D_venue", f.when(f.col("deliveries_1000D_venue") > 0, f.col("total_runs_1000D_venue") * 6.0/f.col("deliveries_1000D_venue")).otherwise(f.col("total_runs_1000D_venue") * 6.0))

In [84]:
player_last_names = [
    "healy",
    "mooney",
    "jafta",
    "tucker",
    "lanning",
    "wolvaardt",
    "luus",
    "mcgrath",
    "bosch",
    "harris",
    "goodall",
    "brits",
    "dercksen",
    "macheke",
    "perry",
    "kapp",
    "gardner",
    "klerk",
    "tryon",
    "sutherland",
    "garth",
    "andrews",
    "schutt",
    "jonassen",
    "ismail",
    "klaas",
    "king",
    "brown",
    "khaka",
    "wareham",
    "mlaba",
    "graham",
    "sekhumkhune"
]

In [86]:
all_players_df = spark.read.csv("downloads/people.csv", header=True)
all_players_df.registerTempTable("all_players")
all_players_df.toPandas()

from string import Template
name_predicates = []
name_clause_template = Template("lower(reverse(split(unique_name,' '))[0]) = '$player_name'")
for name in player_last_names:
    name_predicates.append(name_clause_template.substitute(player_name=name))
name_clause = " OR ".join(name_predicates)
player_id_names_df = spark.sql("select identifier, unique_name from all_players where %s"%name_clause)

player_features_df = all_features_df.join(
    player_id_names_df,
    all_features_df.player_id ==  player_id_names_df.identifier,"inner" )
player_features_df.count()

71

In [87]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import GBTRegressor ,GBTRegressionModel
from path_manager import model_train_input_path, model_test_input_path, model_train_predictions_path, model_test_predictions_path, model_save_artifact_path
from model_trainer import features

In [88]:
loaded_gbtr = GBTRegressionModel.load(model_save_artifact_path)

In [89]:
va = VectorAssembler(inputCols = features, outputCol='features')

In [90]:
va_inference_df = va.transform(player_features_df)

In [91]:
inference_predictions_df = loaded_gbtr.transform(va_inference_df)

In [92]:
inference_predictions_df.show()

+---------+--------------------+-----------------+-----------------------+-----------------+-----------------------+----------------+----------------------+--------------------+--------------------------+---------------+---------------------+----------------+----------------------+----------------+---------------+-------------------+--------------+---------------+---------------------+---------------+--------------+------------------+-------------+---------------+---------------------+---------------+--------------+------------------+-------------+----------------+----------------------+----------------+----------------------+----------------+----------------------+------------------+------------------------+---------------+---------------+---------------+-----------------+--------------+--------------+--------------+----------------+--------------+--------------+--------------+----------------+-------------------------+-----------------------+-----------------+------------------+------------------+------------------+-----------------------+------------------+------------------+------------------+------------------+----------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------+-----------------+------------------+------------------+----------------------+------------------+-----------------+------------------+------------------+-----------------------+----------+------------+--------------------+------------------+
|player_id|          venue_name|batter_runs_1000D|batter_runs_1000D_venue|balls_faced_1000D|balls_faced_1000D_venue|dismissals_1000D|dismissals_1000D_venue|boundary_count_1000D|boundary_count_1000D_venue|six_count_1000D|six_count_1000D_venue|batter_runs_300D|batter_runs_300D_venue|balls_faced_300D|dismissals_300D|boundary_count_300D|six_count_300D|batter_runs_90D|batter_runs_90D_venue|balls_faced_90D|dismissals_90D|boundary_count_90D|six_count_90D|batter_runs_30D|batter_runs_30D_venue|balls_faced_30D|dismissals_30D|boundary_count_30D|six_count_30D|total_runs_1000D|total_runs_1000D_venue|deliveries_1000D|deliveries_1000D_venue|wicket_sum_1000D|wicket_sum_1000D_venue|maiden_count_1000D|maiden_count_1000D_venue|total_runs_300D|deliveries_300D|wicket_sum_300D|maiden_count_300D|total_runs_90D|deliveries_90D|wicket_sum_90D|maiden_count_90D|total_runs_30D|deliveries_30D|wicket_sum_30D|maiden_count_30D|fielding_wicket_sum_1000D|fielding_wicket_sum_30D|  batting_avg_30D|   batting_avg_90D|  batting_avg_300D| batting_avg_1000D|batting_avg_1000D_venue|    batting_sr_30D|    batting_sr_90D|   batting_sr_300D|  batting_sr_1000D|batting_sr_1000D_venue|   bowling_avg_30D|   bowling_avg_90D|  bowling_avg_300D| bowling_avg_1000D|bowling_avg_1000D_venue|   bowling_sr_30D|   bowling_sr_90D|   bowling_sr_300D|  bowling_sr_1000D|bowling_sr_1000D_venue|   bowling_eco_30D|  bowling_eco_90D|  bowling_eco_300D| bowling_eco_1000D|bowling_eco_1000D_venue|identifier| unique_name|            features|        prediction|
+---------+--------------------+-----------------+-----------------------+-----------------+-----------------------+----------------+----------------------+--------------------+--------------------------+---------------+---------------------+----------------+----------------------+----------------+---------------+-------------------+--------------+---------------+---------------------+---------------+--------------+------------------+-------------+---------------+---------------------+---------------+--------------+------------------+-------------+----------------+----------------------+----------------+----------------------+----------------+----------------------+------------------+------------------------+---------------+---------------+---------------+-----------------+--------------+--------------+--------------+----------------+--------------+--------------+--------------+----------------+-------------------------+-----------------------+-----------------+------------------+------------------+------------------+-----------------------+------------------+------------------+------------------+------------------+----------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------+-----------------+------------------+------------------+----------------------+------------------+-----------------+------------------+------------------+-----------------------+----------+------------+--------------------+------------------+
| 818c9e0d|St George's Park,...|                0|                      0|                0|                      0|               0|                     0|                   0|                         0|              0|                    0|               0|                     0|               0|              0|                  0|             0|              0|                    0|              0|             0|                 0|            0|              0|                    0|              0|             0|                 0|            0|               0|                     0|               0|                     0|               0|                     0|                 0|                       0|              0|              0|              0|                0|             0|             0|             0|               0|             0|             0|             0|               0|                        0|                      0|              0.0|               0.0|               0.0|               0.0|                    0.0|               0.0|               0.0|               0.0|               0.0|                   0.0|               0.0|               0.0|               0.0|               0.0|                    0.0|              0.0|              0.0|               0.0|               0.0|                   0.0|               0.0|              0.0|               0.0|               0.0|                    0.0|  818c9e0d|    KR Brown|          (70,[],[])| 8.857926067013366|
| 36e2dc83|St George's Park,...|              715|                      0|              387|                      0|              33|                     0|                  88|                         0|             37|                    0|             337|                     0|             164|             12|                 48|            16|            144|                    0|             57|             2|                23|            7|             67|                    0|             28|             0|                 9|            4|               0|                     0|               0|                     0|               0|                     0|                 0|                       0|              0|              0|              0|                0|             0|             0|             0|               0|             0|             0|             0|               0|                       19|                      0|             67.0|              72.0|28.083333333333332|21.666666666666668|                    0.0| 2.392857142857143| 2.526315789473684|2.0548780487804876| 1.847545219638243|                   0.0|               0.0|               0.0|               0.0|               0.0|                    0.0|              0.0|              0.0|               0.0|               0.0|                   0.0|               0.0|              0.0|               0.0|               0.0|                    0.0|  36e2dc83|    L Harris|(70,[0,1,2,3,5,6,...| 3.998648085056092|
| 6d76bc23|St George's Park,...|              534|                      0|              530|                      0|              17|                     0|                  51|                         0|              8|                    0|             358|                     0|             343|             13|                 35|             4|             59|                    0|             57|             0|                 6|            0|             30|                    0|             27|             0|                 3|            0|             330|                     0|             299|                     0|               8|                     0|                 0|                       0|            231|            236|              7|                0|            15|            14|             0|               0|             0|             0|             0|               0|                       13|                      0|             30.0|              59.0| 27.53846153846154| 31.41176470588235|                    0.0|1.1111111111111112|1.0350877192982457| 1.043731778425656|1.0075471698113208|                   0.0|               0.0|              15.0|              33.0|             41.25|                    0.0|              0.0|             14.0|33.714285714285715|            37.375|                   0.0|               0.0|6.428571428571429| 5.872881355932203| 6.622073578595318|                    0.0|  6d76bc23|      S Luus|(70,[0,1,2,3,5,6,...| 4.858777415136165|
| e60f81c9|St George's Park,...|             2299|                      0|             2023|                      0|              65|                     0|                 250|                         0|             30|                    0|            1269|                     0|            1130|             34|                143|            10|            135|                    0|            145|             4|                17|            0|             67|                    0|             76|             1|                 9|            0|               0|                     0|               0|                     0|               0|                     0|                 0|                       0|              0|              0|              0|                0|             0|             0|             0|               0|             0|             0|             0|               0|                       29|                      1|             67.0|             33.75|  37.3235294117647| 35.36923076923077|                    0.0| 0.881578947368421|0.9310344827586207|1.1230088495575221|1.1364310430054374|                   0.0|               0.0|               0.0|               0.0|               0.0|                    0.0|              0.0|              0.0|               0.0|               0.0|                   0.0|               0.0|              0.0|               0.0|               0.0|                    0.0|  e60f81c9| L Wolvaardt|(70,[0,1,2,3,5,6,...| 5.078100237958161|
| 63e3b6b3|St George's Park,...|             1053|                      0|              920|                      0|              34|                     0|                 112|                         0|             19|                    0|             505|                     0|             374|             12|                 55|            13|             74|                    0|             66|             2|                 6|            1|             52|                    0|             44|             1|                 5|            0|            1208|                     0|            1261|                     0|              79|                     0|                 5|                       0|            469|            466|             24|                1|            50|            49|             1|               0|            20|            24|             0|               0|                       12|                      0|             52.0|              37.0|42.083333333333336|30.970588235294116|                    0.0|1.1818181818181819| 1.121212121212121|1.3502673796791445|1.1445652173913043|                   0.0|              20.0|              50.0|19.541666666666668|15.291139240506329|                    0.0|             24.0|             49.0|19.416666666666668|15.962025316455696|                   0.0|               5.0|6.122448979591836|  6.03862660944206|  5.74781919111816|                    0.0|  63e3b6b3|      M Kapp|[52.0,74.0,505.0,...| 5.402834256491887|
| ce85fcaf|St George's Park,...|               15|                      0|               25|                      0|               2|                     0|                   0|                         0|              0|                    0|               3|                     0|              10|              2|                  0|             0|              2|                    0|              6|             1|                 0|            0|              0|                    0|              0|             0|                 0|            0|             324|                     0|             254|                     0|              16|                     0|                 1|                       0|            192|            143|             12|                1|            58|            64|             7|               1|            42|            51|             7|               1|                        1|                      1|              0.0|               2.0|               1.5|               7.5|                    0.0|               0.0|0.3333333333333333|               0.3|               0.6|                   0.0|               6.0| 8.285714285714286|              16.0|             20.25|                    0.0|7.285714285714286|9.142857142857142|11.916666666666666|            15.875|                   0.0|4.9411764705882355|           5.4375| 8.055944055944057| 7.653543307086614|                    0.0|  ce85fcaf|     M Klaas|(70,[1,2,3,6,7,8,...| 7.242818167407027|
| 65d9b6b6|St George's Park,...|              726|                      0|              704|                      0|              33|                     0|                  57|                         0|             21|                    0|             393|                     0|             354|             15|                 29|            12|              1|                    0|              3|             1|                 0|            0|              0|                    0|              0|             0|                 0|            0|            1121|                     0|             929|                     0|              51|                     0|                 3|                       0|            634|            492|             30|                1|            84|            70|             4|               0|            15|            25|             1|               0|                       26|                      0|              0.0|               1.0|              26.2|              22.0|                    0.0|               0.0|0.3333333333333333|1.1101694915254237|           1.03125|                   0.0|              15.0|              21.0|21.133333333333333|21.980392156862745|                    0.0|             25.0|             17.5|              16.4|18.215686274509803|                   0.0|               3.6|              7.2|7.7317073170731705| 7.240043057050592|                    0.0|  65d9b6b6|A Sutherland|(70,[1,2,3,6,7,8,...| 6.481723335181403|
| 7fca84b7|St George's Park,...|             1500|                      0|             1266|                      0|              60|                     0|                 160|                         0|             56|                    0|             843|                     0|             679|             26|                 91|            31|             89|                    0|             90|             6|                 8|            3|             20|                    0|             31|             3|                 2|            1|               0|                     0|               0|                     0|               0|                     0|                 0|                       0|              0|              0|              0|                0|             0|             0|             0|               0|             0|             0|             0|               0|                       28|                      0|6.666666666666667|14.833333333333334| 32.42307692307692|              25.0|                    0.0|0.6451612903225806|0.9888888888888889|1.2415316642120766|1.1848341232227488|                   0.0|               0.0|               0.0|               0.0|               0.0|                    0.0|              0.0|              0.0|               0.0|               0.0|                   0.0|               0.0|              0.0|               0.0|               0.0|                    0.0|  7fca84b7|     BA King|(70,[0,1,2,3,5,6,...| 6.136735251317408|
| 00015688|St George's Park,...|                2|                      0|               20|                      0|               1|                     0|                   0|                         0|              0|                    0|               0|                     0|               0|              0|                  0|             0|              0|                    0|              0|             0|                 0|            0|              0|                    0|              0|             0|                 0|            0|               0|                     0|               0|                     0|               0|                     0|                 0|                       0|              0|              0|              0|                0|             0|             0|             0|               0|             0|             0|             0|               0|                        0|                      0|              0.0|               0.0|               0.0|               2.0|                    0.0|               0.0|               0.0|               0.0|               0.1|                   0.0|               0.0|               0.0|               0.0|               0.0|                    0.0|              0.0|              0.0|               0.0|               0.0|                   0.0|               0.0|              0.0|               0.0|               0.0|                    0.0|  00015688|      M King|(70,[3,8,13,28,33...| 7.351448635455944|
| 83558266|St George's Park,...|              279|                      0|              214|                      0|              20|                     0|                  20|                         0|             14|                    0|             132|                     0|             101|             12|                  9|             8|              7|                    0|              6|             0|                 1|            0|              0|                    0|              0|             0|                 0|            0|            1389|                     0|            1396|                     0|              86|                     0|                 4|                       0|            799|            809|             51|                4|           152|           128|             8|               0|            26|            36|             4|               0|                       19|                      0|              0.0|               7.0|              11.0|             13.95|                    0.0|               0.0|1.1666666666666667| 1.306930693069307|1.3037383177570094|                   0.0|               6.5|              19.0|15.666666666666666|16.151162790697676|                    0.0|              9.0|             16.0|15.862745098039216|16.232558139534884|                   0.0| 4.333333333333333|            7.125| 5.925834363411619| 5.969914040114613|                    0.0|  83558266|      A King|(70,[1,2,3,6,7,8,...| 7.242818167407027|

In [93]:
inference_predictions_df.registerTempTable("player_inferences")

In [94]:
spark.sql("""
select player_id, unique_name, 
            prediction, rank() over(order by prediction desc) as predicted_rank
        from player_inferences
""").toPandas()

23/02/18 21:05:32 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

   player_id    unique_name  prediction  predicted_rank
0   818c9e0d       KR Brown    8.857926               1
1   c122ab7f        J Brown    8.857926               1
2   98797fb4   K Sutherland    8.857926               1
3   c8e5012c  Nazwan Ismail    8.857926               1
4   a7367f83      SK Ismail    8.857926               1
..       ...            ...         ...             ...
66  be150fc8       EA Perry    3.656450              67
67  52d1dbc8      BL Mooney    3.594950              68
68  bc2d4f2e   W Sutherland    2.179394              69
69  ea544967     N de Klerk    1.966242              70
70  bc969efb      A Gardner    0.654766              71

[71 rows x 4 columns]

In [79]:
player_features_df.count()

269